.div-1 {
    background-color: #fea500;
    height: 100px;
    width: 100px;
  }
  
.div-2 {
    background-color: #fea500;
    height: 100px;
    width: 100px;
  }
  
.div-3 {
    background-color: #fea500;
    height: 100px;
    width: 100px;
  }

.div-4 {
    background-color: #fea500;
    height: 100px;
    width: 100px;
   }

body { background-color: #808080